<div class="container">
  <div class="content">
    <div class="header">
      <div class="picture">

      </div>
      <div class="caption">
        <span>
          <!-- Event -->
          {{$ctrl.eventItem.name}}
        </span>
      </div>
      <div class="time">
        <span>
          <!-- 3:57 -->
          {{$ctrl.eventItem.startsAt}}
        </span>
      </div>
    </div>
    <div class="main">
      <span>
        Description:
      </span>
      <p>
        <!-- Some text -->
        {{$ctrl.eventItem.description}}
      </p>
    </div>
  </div>
  <!--
  <span>
    Event-tryndavent:
  </span>
  <br>
  <span>
      {{$ctrl.eventItem.name}}
  </span>
  <br>
  <span>
      {{$ctrl.eventItem.description}}
  </span>
  -->
</div>